<ion-view class="screenFestivo">
  	<div class="row row-center" style="height:100%;">
		<div class="col">
			<div class="col">
    			<a href="javascript:;" ng-click="paq1()"><img src="img/btnCombo1.png" class="img-responsive center-block"></a>
    		</div>
    		<div class="col">
    			<a href="javascript:;" ng-click="paq2()"><img src="img/btnCombo2.png" class="img-responsive center-block"></a>
    		</div>
    		<div class="col">
    			<a href="javascript:;" ng-click="paq3()"><img src="img/btnCombo3.png" class="img-responsive center-block"></a>
    		</div>
    		<div class="col">
    			<a href="javascript:;" ng-click="paq4()"><img src="img/btnCombo4.png" class="img-responsive center-block"></a>
    		</div>
		</div>
	</div>
</ion-view>